<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pitbull Barber</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body class="center">
  <div id="logo-container">
    <img src="/imagens/image.png" alt="Pitbull Barber" id="logo-click">
  </div>

  <script>
    document.getElementById("logo-click").addEventListener("click", function () {
      window.location.href = "/barbearia/login";
    });
  </script>
</body>
</html>