<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Login - Pitbull Barber</title>
  <link rel="stylesheet" href="/styles/style.css" />
</head>
<body class="center">
  <div class="login-container">
    <img src="/imagens/image.png" alt="Logo Pitbull Barber" class="login-logo"/>
    <form id="login-form" method="post" action="/barbearia/login">
      <input type="text" id="nomeCliente" name="nomeCliente" placeholder="Nome" required />
      <input type="tel" id="telefoneCliente" name="telefoneCliente" placeholder="Telefone" maxlength="15" required />
      <button type="submit">Entrar</button>
    </form>
  </div>
  <script src="/script/loginScript.js"></script>
</body>
</html>