<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Login - Administração Pitbull Barber</title>
  <link rel="stylesheet" href="/styles/loginadm.css" />
</head>
<body class="center">
  <div class="login-container">
    <img src="/imagens/pitbull-logo-branco.png" alt="Logo Pitbull Barber" class="login-logo"/>
    <h2 style="color: whitesmoke;"> Login - Administração</h2>
   <form id="login-form" method="post" action="/barbearia/loginadm">
    <input type="text" id="nomeCliente" name="nomeFuncionario" placeholder="Nome" required />
    <input type="tel" id="telefoneCliente" name="telefoneFuncionario" placeholder="Telefone" maxlength="15" required />
    <button type="submit">Entrar</button>
</form>
    <input type="hidden" id="erroTelefone" th:if="${erroTelefone}" th:value="${erroTelefone}" />
    <input type="hidden" id="erroTelefoneExistente" th:if="${erroTelefoneExistente}" th:value="${erroTelefoneExistente}" />
  </div>
  <script src="/script/loginScript.js"></script>
</body>
</html>