<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Login - Pitbull Barber</title>
  <link rel="stylesheet" href="/styles/style.css" />
  
</head>
<body class="center">

  <div id="success-message" style="display:none;"
       th:if="${sucessoCadastro}"
       th:text="${sucessoCadastro}">
  </div>
  
  <div class="login-container">
    <img src="/imagens/pitbull-logo-branco.png" alt="Logo Pitbull Barber" class="login-logo"/>
    <form id="login-form" method="post" action="/barbearia/login">
    
      <div id="server-error-message" style="display:none;"
           th:if="${erroTelefone} or ${erroTelefoneExistente} or ${erroNaoEncontrado}"
           th:text="${erroTelefone ?: erroTelefoneExistente ?: erroNaoEncontrado}">
      </div>

      <input type="text" id="nomeCliente" name="nomeCliente" placeholder="Nome" required />
      <input type="tel" id="telefoneCliente" name="telefoneCliente" placeholder="Telefone" maxlength="15" required />
      
      <p class="cadastro-link" style="color: #ccc;">
        Ainda não tem cadastro? 
        <a href="/barbearia/cadastro" style="color: #ffffff;">Clique aqui</a>
      </p>

      
      
      <button type="submit">Entrar</button>
    </form>

    <a href="https://wa.me/5548998348321?text=Olá,%20gostaria%20de%20uma%20ajuda%20com%20o%20agendamento%20da%20barbearia." 
     class="whatsapp-float" 
     target="_blank"
     aria-label="Fale conosco no WhatsApp">
      
      <img src="https://cdn-icons-png.flaticon.com/512/733/733585.png" 
           alt="WhatsApp">
  </a>

  <script src="/script/loginScript.js"></script>
</body>
</html>