body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, #ffffff, #B0ACAC);
}

header {
  text-align: center;
  padding: 20px 10px;
}

header h1 {
  font-family: 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-size: 26px;
  margin-bottom: 10px;
}

.menu-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 28px;
  cursor: pointer;
}

.dias {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.dia {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  background: #eee;
  padding: 12px 16px;
  border-radius: 8px;
  margin: 10px 0;
  font-size: 16px;
  font-weight: bold;
}

.dia span {
  font-weight: normal;
  font-size: 14px;
  margin: 0 10px;
}

.dia button {
  padding: 6px 12px;
  font-size: 16px;
  background-color: #ccc;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.dia button:hover {
  background-color: #0c9bdd;
  color: white;
  transform: scale(1.1);
}


.dia.indisponivel {
  background-color: #aaa;
  color: #666;
}

.dia.indisponivel button {
  background-color: #888;
  cursor: not-allowed;
}

.agendar-btn {
  display: none; /* Botão removido */
}