body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(to bottom, #ffffff, #B0ACAC);
  position: relative;
  background-image: url('/imagens/background-pitbull.png');
  background-size: cover;
  background-position: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.imagem{
  position: absolute;
  top: 20px;
  left: 20px;
  width: 200px;
  border-radius: 8px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

#logo-click {
  cursor: pointer;
  width: 380px;
  transition: transform 0.3s;
}

#logo-click:hover {
  transform: scale(1.05);
}

/* Adicione .cadastro-container junto com a .login-container */
.login-container, .cadastro-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-logo {
  width: 275px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input {
  padding: 10px;
  font-size: 16px;
  width: 250px;
}

button {
  padding: 10px;
  font-size: 18px;
  background-color: gray;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: darkgray;
}

.custom-alert-error {
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 4px;
  color: #a94442; /* Cor do texto */
  background-color: #f2dede; /* Cor do fundo */
  border: 1px solid #ebccd1; /* Cor da borda */
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.custom-alert-success {
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 4px;
  color: #155724; /* Cor do texto */
  background-color: #d4edda; /* Cor do fundo */
  border: 1px solid #c3e6cb; /* Cor da borda */
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  opacity: 1;
  transition: opacity 0.5s ease; /* Efeito de fade out */
}

.cadastro-link {
  text-align: center;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 20px;
}

.whatsapp-float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 20px;
  right: 20px;
  background-color: #25D366;
  border-radius: 50%;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.whatsapp-float img {
  width: 35px;
  height: 35px;
}

.google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  width: 85%;              /* menor que o botão principal */
  max-width: 260px;        /* limita largura */

  margin: 10px auto;

  padding: 8px;            /* menor altura */
  font-size: 13px;         /* texto menor */

  background-color: #fff;
  border: 1px solid #dadce0;
  border-radius: 5px;

  text-decoration: none;
  color: #3c4043;

  transition: background-color 0.2s, box-shadow 0.2s;
}

.google-btn img {
  width: 20px;
  height: 20px;
}

.google-btn:hover {
  background-color: #f7f8f8;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}